// /* GOOGLE FONTS */
// @import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;800&display=swap");

// /* CUSTOM FONTS */
@font-face {
  font-family: 'Mont';
  src: url("../../assets/fonts/Mont-Regular.eot");
  src: local("☺"), url("../../assets/fonts/Mont-Regular.woff") format("woff"), url("../../assets/fonts/Mont-Regular.ttf") format("truetype"), url("../../assets/fonts/Mont-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url("../../assets/fonts/Mont-Bold.eot");
  src: local("☺"), url("../../assets/fonts/Mont-Bold.woff") format("woff"), url("../../assets/fonts/Mont-Bold.ttf") format("truetype"), url("../../assets/fonts/Mont-Bold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

// @font-face {
//   font-family: 'Mont';
//   src: url("../../assets/fonts/Mont-Heavy.eot");
//   src: local("☺"), url("../../assets/fonts/Mont-Heavy.woff") format("woff"), url("../../assets/fonts/Mont-Heavy.ttf") format("truetype"), url("../../assets/fonts/Mont-Heavy.svg") format("svg");
//   font-weight: 800;
//   font-style: normal;
// }

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mont";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Poppins", san-serif;

}

ul {
  margin: 0;
  list-style: none;
}

ul li:hover>a {
  color: $color-red;
}

.w-100 {
  width: 100%;
  height: 100%;
}

.col-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.content-margin {
  margin-top: 100px;
  margin-bottom: 100px;
}

.fix-top {
  position: fixed;
  top: 0;
  z-index: 6;
  width: 100%;
  background: #222222;
}

a {
  text-decoration: none !important;

  &:hover {
    text-decoration: none !important;
  }

}

p {
  font-size: 16px !important;
}

.logo {

  width: 50px;
  height: 50px;
}

.section-title {
  .title {
    margin-top: 30px;
    font-size: 36px;
  }

  .sub-title {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    margin-bottom: 12px;
    letter-spacing: 1px;
    color: $color-red;
  }
}